.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;   
    gap: 1rem;
    padding: 30px;
}

.pagination-button {
    background: none;
    border: none;
    cursor: pointer;
}