.container {
 
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.75rem;  
}

@media (max-width: 768px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-link {
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
}

.search-container {
}
